@use '../../styles/variables' as v;

.searchContainer {
  margin: v.$spacing-xl 0;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 0;
  font-size: v.$font-size-md;
  border: none;
  border-bottom: v.$border-width solid v.$color-secondary;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: v.$color-light;
  }

  &:focus {
    border-bottom-color: v.$color-secondary;
  }
}

.resultsCount {
  margin-top: v.$spacing-sm;
  font-size: v.$font-size-sm;
  color: v.$color-primary;
  text-transform: uppercase;
}
