@use '../../styles/variables' as v;

.navbar {
  background-color: v.$color-white;
  padding: v.$spacing-md 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: v.$container-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: v.$color-primary;
  font-weight: bold;
  font-size: v.$font-size-xl;
  display: flex;
  align-items: center;
}

.cartLink {
  position: relative;
  color: v.$color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cartIcon {
  font-size: v.$font-size-xl;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: v.$color-primary;
  color: v.$color-white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: v.$font-size-xs;
}
