@use '../../styles/variables' as v;

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  width: 100%;

  @media (min-width: v.$breakpoint-sm) and (max-width: calc(#{v.$breakpoint-lg} - 1px)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: v.$breakpoint-lg) and (max-width: calc(#{v.$breakpoint-xl} - 1px)) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: v.$breakpoint-xl) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.phoneGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: v.$spacing-lg;
}
