@import '../../styles/variables.scss';
.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.5rem;
}

.pageButton {
  padding: 0.5rem 1rem;
  border: 1px solid $color-secondary;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-light;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.active {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
  }
}
